<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head'); %>
</head>

<body class="light">
    <%- include('../../partials/header', {page_name: 'work'} ); %>

    <!-- content here -->
    <div class="row row-eq-height my-3">

        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header white">
                    <div class="d-flex justify-content-between align-items-center">
                        <strong> <%= title %> </strong>
                    </div>
                </div>
                <div class="card-body">

                    <form action="<%= action_url %>" method="POST" enctypex="multipart/form-data" class="needs-validation @if($errors->any()) was-validatedx @endif" novalidate>

                        <div class="form-row">
                            
                            <div class="form-group col-12 mb-3">
                                <label for="name" class="w-100 text-left">Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="name" placeholder="Name" value="<%= item ? item.name : null %>" required maxlength="50">
                                <% if (errors && errors.name) { %>
                                    <label class="invalid-feedback"><%= errors.name %></label>
                                <% } %>
                            </div>

                            <div class="form-group col-4 my-2 mb-4">
                                <div class="d-flex justify-content-left align-items-center">
                                    <label for="status" class="col-form-label s-12 mr-4">Status</label>
                                    <div class="material-switch">
                                        <input id="statusOption" name="status" type="checkbox" <% if (item && item.status == 1) { %>checked<% } %> >
                                        <label for="statusOption" class="bg-success"></label>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div>
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>

                    </form>

                </div>

            </div>
        </div>

    </div>

    <%- include('../../partials/footer'); %>

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css" /> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js"></script> -->
    <script>


        $(document).ready(function () {

            // $('#image').dropify();

        });

    </script>

</body>

</html>