<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head'); %>
</head>

<body class="light">
    <%- include('../../partials/header', {page_name: 'change_password'} ); %>

    <!-- content here -->
    <div class="row row-eq-height my-3">

        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header white">
                    <div class="d-flex justify-content-between align-items-center">
                        <strong> <%= title %> </strong>
                    </div>
                </div>
                <div class="card-body">

                    <form action="<%= action_url %>" method="POST" enctypex="multipart/form-data" class="needs-validation @if($errors->any()) was-validatedx @endif" novalidate>

                        <div class="form-row">
                            
                            <div class="form-group col-md-12 mb-3">
                                <label for="name" class="w-100 text-left">Current Password <span class="text-danger">*</span> </label>
                                <input type="password" class="form-control" name="current_password" placeholder="Enter old password" required>
                            </div>
            
                            <div class="form-group col-md-12 mb-3">
                                <label for="name" class="w-100 text-left">New Password <span class="text-danger">*</span> </label>
                                <input type="password" class="form-control" name="password" placeholder="Enter new password" required maxlength="20">
                            </div>
            
                            <div class="form-group col-md-12 mb-3">
                                <label for="name" class="w-100 text-left">Confirm Password <span class="text-danger">*</span> </label>
                                <input type="password" class="form-control" name="password_confirmation" placeholder="confirm new password" required maxlength="20">
                            </div>

                        </div>

                        <div>
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>

                    </form>

                </div>

            </div>
        </div>

    </div>


    <%- include('../../partials/footer'); %>

    <script>

        $(document).ready(function () {

        });

    </script>

</body>

</html>