<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head'); %>
</head>

<body class="light">
    <%- include('../../partials/header', {page_name: 'admin_user'} ); %>

    <!-- content here -->
    <div class="row row-eq-height my-3">

        <% if ( permissions.includes('add-admin-user') ) { %>
            <div class="col-md-12">
                <a href="<%= add_url %>" class="btn btn-primary btn-sm mb-3"><i class="icon icon-plus pr-0"></i> Add New </a>
            </div>
        <% } %>

        <div class="col-md-12">
            <div class="card">
                <div class="card-header white">

                    <div class="d-flex justify-content-between align-items-center">
                        <strong> <%= title %> </strong>
                        <div>
                            <a class="filter_refresh_btn mr-2" href="javascript:void(0)" type="button" > <i class="icon icon-refresh"></i> Refresh </a>
                            <a class="filter_collapse_btn" data-toggle="collapse" href="#filterCollapseBox" role="button" aria-expanded="false" aria-controls="filterCollapseBox"> <i class="icon icon-filter"></i> Filters </a>
                        </div>
                    </div>

                </div>
                <div class="card-body">

                    <div class="row pb-4 collapse filter_collapse_box" id="filterCollapseBox">
            
                        <div class="col-md-4 col-lg-3">
                            <label class="col-form-label s-12">Role</label>
                            <select class="form-control r-0 light s-12 filter_dropdown" id="role" >
                                <option value="">All</option>
                                <% roles.forEach(function(role) { %>
                                    <option value="<%= role.id %>"><%= role.name %></option>
                                <% }); %>
                            </select>
                        </div>
            
                        <div class="col-md-4 col-lg-3">
                            <label class="col-form-label s-12">Status</label>
                            <select class="form-control r-0 light s-12 filter_dropdown" id="status">
                                <option value="">All</option>
                                <option value="1">Active</option>
                                <option value="0">Inactive</option>
                            </select>
                        </div>
                        
                        <div class="col-md-6 col-lg-6">
                            <label class="col-form-label s-12">Action</label> <br>
            
                            <button class="btn btn-sm btn-primary submit_filter"> Submit </button>
                            <button class="btn btn-sm btn-primary clear_filter ml-2"> Clear </button>
                            
                        </div>
            
                    </div>
                    
                    <table id="listingTable" class="table table-bordered p-0">
                        <thead>
                            <tr>
                                <th style="width: 1%">#</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th class="no-sort">Timestamp</th>
                                <th>Status</th>
                                <th class="no-sort" style="width: 100px">Action</th>
                            </tr>
                        </thead>
                        <tbody>
            
                        </tbody>
                    </table>


                </div>

                <!-- <div class="card-footer white">
                    test
                </div> -->

            </div>
        </div>

    </div>

    <%- include('../../partials/footer'); %>

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css" /> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js"></script> -->
    <script>

        if (!myApp) {
            var myApp = {};
        }
        
        myApp.listing = (function() {
        
            /**
             * ------------------------------------------------------------------------
             * Classes
             * ------------------------------------------------------------------------
             */
            const submitFilterBtnClass = '.submit_filter';
            const clearFilterBtnClass = '.clear_filter';
        
            /**
             * ------------------------------------------------------------------------
             * Ids
             * ------------------------------------------------------------------------
             */
            const listingTableId = '#listingTable';
            const statusId = '#status';
            const roleId = '#role';
        
            const private = (function() {
        
                const renderListingTable = function() {
                    if ($.fn.DataTable.isDataTable(listingTableId)) $(listingTableId).DataTable().destroy();
        
                    let url = "<%= listing_fetch_url %>";
                    let role = $(roleId).val();
                    let status = $(statusId).val();
        
                    const params = {
                        // "_token": "{{ csrf_token() }}",
                        status: status,
                        role: role
                    }
                    
                    $(listingTableId).DataTable({
                        language: { "processing": datatablesLoaderHtml },
                        // searching: false,
                        columnDefs: [ {
                            "targets"  : 'no-sort',
                            "orderable": false,
                            "order": []
                        },
                        {
                            "targets": [5,6],
                            "className": "text-center"
                        }],
                        "order": [[ 0, "desc" ]],
                        "scrollX": true,
                        processing: true,
                        serverSide: true,
                        ajax: {
                            url: url,
                            type: "POST",
                            data: params
                        },
                        columns: [
                            { data: 'id' },  
                            { data: 'name' },
                            { data: 'email' },
                            {
                                data: 'role_id',
                                render: function( data, type, row ) {
                                    return `${row.role}`;
                                }
                            },
                            {
                                render: function( data, type, row ) {
                                    return `${row.m_updated_at}`;
                                }
                            },
                            {   
                                data: 'status',
                                render: function(data, type, row) {
                                    return `${row.status_html}`;
                                }
                            },
                            {   
                                render: function(data, type, row) {
                                    return `${row.edit_btn}`;
                                }
                            },
                                        
                        ],
                        "drawCallback": function( settings ) {
        
                        } //end drawcallback
                    });
                    
                };
        
                return {
                    renderListingTable,
                    
                }
            })();
        
            const binding = function() {
        
                $(submitFilterBtnClass).click(function(){
                    private.renderListingTable();
                });
        
                $(clearFilterBtnClass).click(function(){
                    $('input').val('');
                    $('select').val('');
                    private.renderListingTable();
                });
        
            };
        
            const init = function() {
                binding();
                private.renderListingTable();
            };
        
            return {
                init,
            }
        })();
        
        
        $(document).ready(function() {
            myApp.listing.init();
        });
        
    </script>

</body>

</html>